@{
    ViewData["Title"] = "Tabes";
    @model Tuple<List<DB.Models.Department>, List<DB.Models.User> >

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <link rel='stylesheet' href='https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
    <link rel="stylesheet" href="~/css/css.css">

</head>
<body>

    <div class="container">

        <div id="toolbar">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>

        <table id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="prenom" data-filter-control="input" data-sortable="true">Фамилия</th>
                    <th data-filter-control="input" data-sortable="true">Имя</th>
                    <th data-filter-control="input" data-sortable="true">Отчество</th>
                    <th data-filter-control="input" data-sortable="true">Должность</th>
                    <th data-field="examen" data-filter-control="select" data-sortable="true">Тип работы</th>
                    <th data-field="date" data-filter-control="select" data-sortable="true">Отдел</th>
                </tr>
            </thead>
            <tbody>

             
                @foreach (var item in Model.Item2)
                {

                <tr>
                    <td class="bs-checkbox "><input data-index=@item.Id name="btSelectItem" type="checkbox"></td>
                    <td>@Html.DisplayFor(t => item.Surname)</td>
                    <td>@Html.DisplayFor(t => item.Name)</td>
                    <td>@Html.DisplayFor(t => item.Patronymic)</td>
                    <td>@Html.DisplayFor(t => item.Position)</td>
                    <td>@Html.DisplayFor(t => item.WorkingMode)</td>
                    <td>@Html.DisplayFor(t => item.Department.Name)</td>
                </tr>
                }

       
            </tbody>
    </table>
        <div>
            Всего @Model.Item1.Count  Отделов.
            <hr>
            @Model.Item2.Count Зверей
        </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
    <script src='https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
    <script src="~/js/te.js"></script>

</body>
</html>
